body{
    background-image: url(../img/nd_dl_bg.jpeg);
}

a {
    color: rgb(238, 122, 12);
}

span{
  color: white;
}
  
  #table {
    background-color: rgb(235, 255, 213);
    border-radius: 1rem;
    margin-top: 2rem;
  }
  
  h2 {
    padding: 1rem;
  }
  
  li {
    margin: 2rem 2rem 2rem 0;
    display: flex;
    justify-content: space-between;
  }

  .rewardImg {
    width: 100%;
    height: auto;
  }